.game {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1 0 auto;
    height: 100%;
}

.snake-field {
    background-image: url('over.jpg');
    background-size: cover;
}

.game-table {
    border-collapse: collapse;
    background-color: #fff;
    margin: 10px;
}

.game-table-over {
    border-collapse: collapse;
    background-color: #fff;
    margin: 10px;
    opacity: 0;
    transition: opacity 2s;
    transition-delay: 2s;
  }

.game-table-over > tbody > tr > td {
    border: none;
}

.snake-field {
    display: inline-block;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    border-radius: 5px;
}

td.game-table-cell {
    width: 25px;
    height: 25px;
    border: 1px dotted black;
    box-sizing: border-box;
    position: relative;
}

.scores-white {
    color: white;
    margin-top: 10px;
    background-color: white;
    border-radius: 5px;
    padding: 5px;
}

.scores-black {
    color: black;
    margin-top: 10px;
    background-color: white;
    border-radius: 5px;
    padding: 5px;
}

.game-table-cell-status-1 { 
    background-image: url('snake.jpg');
    content: ':)'
}

.game-table-cell-status-2:after,
.game-table-cell-status-11:after,
.game-table-cell-status-12:after,
.game-table-cell-status-13:after,
.game-table-cell-status-14:after,
.game-table-cell-status-15:after,
.game-table-cell-status-16:after,
.game-table-cell-status-17:after,
.game-table-cell-status-18:after,
.game-table-cell-status-19:after {
    font-size: 24px;
    position: absolute;
    left: 0px;
    top: -6px;
}

.game-table-cell-status-2:after {
    content: '\1F354';
}

.game-table-cell-status-11:after {
    content: '\1F356';
}

.game-table-cell-status-12:after {
    content: '\1F364';
}

.game-table-cell-status-13:after {
    content: '\1F366';
}

.game-table-cell-status-14:after {
    content: '\1F36D';
}

.game-table-cell-status-15:after {
    content: '\1F347';
}

.game-table-cell-status-16:after {
    content: '\1F344';
}

.game-table-cell-status-17:after {
    content: '\1F346';
}

.game-table-cell-status-18:after {
    content: '\1F34E';
}

.game-table-cell-status-19:after {
    content: '\1F355';
}

.game-table-cell-status-3:after {
    content: '\1F4A3';
    font-size: 24px;
    position: absolute;
    left: 0px;
    top: -6px;
}

.game-table-cell-status-4 {
    background-color: black;
}

.game-table-cell-status-5:after {
    content: '\271E';
    font-size: 36px;
    position: absolute;
    left: 2px;
    top: -16px;
}

.settingsGroup {
    display: flex; 
    flex-direction: column;  
}

.game-btns {
    width: 200px;
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}