.game-table {
    border-collapse: collapse;
    /* background-color: #3e3e3e; */
    background-color: #fff;
}

.snake-field {
    display: inline-block;
    border: 2px solid red;
    box-sizing: border-box;
}

td.game-table-cell {
    width: 20px;
    height: 20px;
    /* border: 1px dotted #eee; */
    border: 1px dotted black;
}

.game-table-cell-status-0 {

}

.game-table-cell-status-1 { 
    background-color: black;
}

.game-table-cell-status-2:after {
    /* background-color: green; */
    content: '\1F354';
    font-size: 14px;
}

.game-table-cell-status-3:after{
    /* content: 'X';
    background-color: red; */
    content: '\1F4A3';
    font-size: 14px;
}